{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Delete Contact</h4>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete the contact "{{ object.name }}"?</p>
                    <p class="text-danger">This will also delete all networking events associated with this contact.</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            <a href="{% url 'networking:contact-detail' object.pk %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 